package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="Pick and eat 1 of your 5 A Day"/>
			<title>Eat a Fruit!</title>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
